@charset "UTF-8";
* {
  position: relative;
  font-family: "Source Code Pro", monospace, "微軟正黑體";
}

html, body {
  background-color: #9a0707;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  cursor: pointer;
}

.weatherbox {
  border-radius: 5px;
  width: 50%;
  max-width: 350px;
  min-width: 350px;
  background-color: #f3f3f3;
}
.weatherbox:hover .bottom {
  height: 90px;
}
.weatherbox:hover .dayweather {
  top: 0px;
  opacity: 1;
}

.top {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 330px;
  background: linear-gradient(20deg, #E2DDD9, #D8B52D);
  background-size: 100% 300%;
  animation: bg_move 20s both;
}
@keyframes bg_move {
  0% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.top svg.lantern {
  width: 100%;
  height: 120px;
  fill: black;
  transition-duration: 0.5s;
  animation: lan_move 5s infinite linear;
}
.top svg.lantern line {
  stroke: #E61414;
  stroke-width: 2px;
}
.top svg.lantern rect {
  fill: #F9EA07;
}
.top svg.lantern ellipse.light {
  fill: #E61414;
}
.top svg.lantern ellipse.dark {
  fill: #9a0707;
}
@keyframes lan_move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.top .rainbow {
  position: absolute;
  width: 100%;
  max-height: 150px;
  z-index: 1;
  opacity: 0.1;
}
.top .rainbow svg {
  position: absolute;
  animation: rainbow_rotate 5s infinite;
}
.top .rainbow .boom {
  width: 2px;
  height: 30px;
  position: absolute;
  background-color: #FF8901;
  left: 75px;
  top: 65px;
  transition-duration: 0.5s;
  animation: boomup 1.5s infinite linear;
}
.top .rainbow .boom2 {
  top: 20px;
  left: 174px;
  transition-delay: -0.4s;
}
.top .rainbow .boom3 {
  left: 125px;
  top: 33px;
  transition-delay: -1.2s;
}
.top .rainbow .boom4 {
  left: 225px;
  top: 30px;
  transition-delay: -0.8s;
}
.top .rainbow .boom5 {
  left: 275px;
  transition-delay: -1.6s;
}
@keyframes boomup {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes rainbow_rotate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.top .newyear {
  position: absolute;
  display: inline-block;
  background: linear-gradient(20deg, #E61414, #9a0707);
  -webkit-background-clip: text;
  color: transparent;
  left: 60px;
  bottom: 60px;
  text-align: center;
  width: 230px;
  z-index: 2;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2px;
}
.top .text {
  color: #9a0707;
}
.top .text .temperature {
  position: absolute;
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
  left: 20px;
  top: 157px;
}
.top .text .infos {
  color: rgba(154, 7, 7, 0.6);
  position: absolute;
  font-size: 13px;
  font-weight: 600;
  left: 130px;
  top: 170px;
}

.bottom {
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10px;
  overflow: hidden;
  transition-duration: 1.5s;
}
.bottom .dayweather {
  width: calc(100% / 7 - 5px);
  display: inline-block;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}
.bottom .dayweather h3 {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: 1px;
}
.bottom .dayweather svg {
  width: 100%;
  height: 40px;
  max-width: 40px;
}
.bottom .dayweather svg .sun {
  stroke-width: 25px;
  fill: #FAD717;
  stroke: rgba(250, 215, 23, 0.5);
  stroke-dasharray: 5px;
}
.bottom .dayweather svg .cloud {
  fill: #ccc;
  animation: floating 3s infinite;
}

.dayweather:nth-child(1) {
  transition-delay: 0.2s;
}

.dayweather:nth-child(2) {
  transition-delay: 0.4s;
}

.dayweather:nth-child(3) {
  transition-delay: 0.6s;
}

.dayweather:nth-child(4) {
  transition-delay: 0.8s;
}

.dayweather:nth-child(5) {
  transition-delay: 1s;
}

.dayweather:nth-child(6) {
  transition-delay: 1.2s;
}

.dayweather:nth-child(7) {
  transition-delay: 1.4s;
}

.rain {
  width: 2px;
  height: 10px;
  position: absolute;
  left: 45px;
  bottom: 15px;
  animation: raindrop 1s infinite linear;
  stroke: #4DACFF;
  stroke-width: 2px;
}

@keyframes raindrop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
#switch_rainbow:checked + .top .rainbow {
  opacity: 1;
}
#switch_rainbow:checked + .top .newyear {
  opacity: 0;
}

#switch_rainbow {
  display: none;
}